body {
  margin: 0px;
}

img {
  height: 2em;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {text-decoration: underline;}

.top-nav-bar {
display: flex;
justify-content: space-between;
align-items: center;
padding: 8px;
}

.top-left-nav {
  font-size: 14px;
  font-family: "Roboto", arial, sans-serif;
  padding-left: 10px;
}

.top-right-nav {
font-size: 13px;
font-family: arial, sans-serif;
padding: 3px 10px 3px 10px;
}

.nav-item {
  margin: 8px;
}

.sign-up.mdl-button {
  background-color: #1977d8;
  color: white;
  font-family: "Google Sans", "Roboto", arial, sans-serif;
  text-transform: none;
  border-radius: 5%;
  width: 100px;
  min-width: initial;
}

 .google-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.google {
  display: block;
  height: 50%;
  padding-top: 10em;
}

.search-bar {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;

}

 .search {
   width:25%;
   height: 3rem;
   border-radius:30px;
   border:1px solid #dcdcdc;
   margin: 10px;
}
