@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

* {
    box-sizing: border-box;
    font-family: "Rajdhani";
    font-size: 1.05em;
    color: #888;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.nav ul {
    margin: 0;
    
}

.nav li {
    display: inline;
    justify-content: center;
    padding: 2.5rem;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: rgb(149, 186, 255);
    text-decoration: none;
}

.nav a:hover {
    color: white;
    background-color: rgb(255, 255, 255, .3);
}

.main-nav {
    text-align: center;
    font-size: 1.4em;
}

.header-image {
    background-color: black;
    display: flex;
    justify-content: center;
    z-index: -1;
   
}

.header-image img {
    width: 25%;
    height: 25%;
}